modules = ["nodejs-22", "postgresql-16"]
run = "npx tsx server/index.ts"
hidden = [".config", ".git", "node_modules", "dist"]

[env]
PORT = "9000"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 9000
externalPort = 80

[[ports]]
localPort = 9001
externalPort = 3000

[[ports]]
localPort = 42915
externalPort = 3001


[deployment]
run = "npx tsx server/index.ts"
deploymentTarget = "cloudrun"


[nix]
channel = "stable-25_05"
packages = ["imagemagick_light"]

